@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.react-calendar {
	max-width: 100%;
	line-height: 1.1em;
	font-family: "Poppins", sans-serif;
}
.react-calendar--doubleView {
	width: 800px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
	display: flex;
	margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
	width: 50%;
	margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}
.react-calendar button {
	margin: 0;
	border: 0;
	outline: none;
}
.react-calendar button:enabled:hover {
	cursor: pointer;
}
.react-calendar__navigation {
	height: 44px;
	margin-bottom: 1em;
}
.react-calendar__navigation button {
	min-width: 44px;
	background: none;
}
.react-calendar__navigation button:enabled:hover {
	background-color: #40916C;
	border-radius: 15px;
	color: white;
}

.react-calendar__month-view__weekdays {
	text-align: center;
	text-transform: uppercase;
	text-decoration: underline;
	font-size: 0.75em;
}
.react-calendar__month-view__weekdays__weekday {
	padding: 0.5em;
}
.react-calendar__month-view__weekNumbers {
	font-weight: bold;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1em;
	padding: calc(0.75em / 0.75) calc(0.5em / 0.75);
}

.react-calendar__month-view__days__day--neighboringMonth {
	color: #125465;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
	padding: 1.5em;
}
.react-calendar__tile {
	max-width: 100%;
	text-align: center;
	padding: 0.75em 0.5em;
	background: none;
}
.react-calendar__tile:disabled {
	background-color: #40916C;
	border-radius: 15px;
}
.react-calendar__tile:enabled:hover {
	background: #40916C;
	border-radius: 76px;
	color: white;
}
.react-calendar__tile--now {
	background: #125465;
	border-radius: 76px;
	color: white;
}
.react-calendar__tile--now:enabled:hover {
	background: #125465;
	border-radius: 76px;
	color: white;
}