.Gallery{
    padding: 4rem;
}

.headTop{
    margin-bottom: 50px
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.Gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 20px 0 20px;
}

.Gallery .heading {
    width: 50%;
    padding-bottom: 50px;
}

.Gallery .heading h3 {
    font-size: 3em;
    font-weight: bolder;
    padding-bottom: 10px;
    border-bottom: 3px solid #222;
}

.Gallery .heading h3 span {
    font-weight: 100;
}

.Gallery .box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.Gallery .box .dream {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.Gallery .box .dream img {
    width: 100%;
    padding-bottom: 15px;
    border-radius: 5px;
    padding: 5px;
}

.Gallery .box .dream img:hover{
    transform: scale(1.03);
    transition-duration: 0.1s;
    cursor: pointer;
}

.Gallery .btn {
    margin: 40px 0 70px 0;
    background: #222;
    padding: 15px 40px;
    border-radius: 5px;
}

.Gallery .btn a {
    color: #fff;
    font-size: 1.2em;
    text-decoration: none;
    font-weight: bolder;
    letter-spacing: 3px;
}

@media only screen and (max-width: 769px) {
    .Gallery .box {
        flex-direction: column;
    }
    .Gallery .box .dream {
        width: 100%;
    }
}

@media only screen and (max-width: 643px) {
    .Gallery .heading {
        width: 100%;
    }
    .Gallery .heading h3 {
        font-size: 1em;
    }
}




