@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');


.containerTop {
    margin-top: 60px;
    padding-bottom: 50px;
}

.link a {
    text-decoration: none;
    color: rgb(37, 37, 37);
}

.link a:hover {
    color: rgb(0, 202, 101);
}

.link p {
    color: rgb(37, 37, 37);
}

.hr {
    background-color: #1159df;
    padding-top: 5px;
    margin-bottom: 30px;
}

h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
    color: #2e86c1;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 10px;
}